{% extends 'root.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
     <h3 class="mt-3 ms-5">Бронирование места на: {{ event.name }}</h3>
    <form method="post" class="ms-5 mt-3">
        {% csrf_token %}

        {{ form.as_p }}
        {{ booking.total_price }}
        <button type="submit" class="btn btn-dark">Забронировать</button>
    </form>
    {% if number_of_people %}
        <p>Number of people: {{ number_of_people }}</p>
        <p>Booking Cost: ${{ total_price }}</p>
    {% endif %}
{% endblock %}
</body>
</html>