{% extends 'root.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Мероприятия{% endblock %}</title>
</head>
<body>
{% block content %}
    <div class="d-flex justify-content-around mt-5">
    {% for events in events %}

        <div class="card" style="width: 18rem;">
          <img src="{{ events.image.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ events.name }}</h5>
            <p class="card-text">{{ events.topic }}</p>
            <p class="card-text">{{ events.price }}</p>
            <p class="card-text">{{ events.place }}</p>
            <p class="card-text">{{ events.date }}</p>
            <a href="{% url 'events:event_detail' events.pk %}" class="btn btn-dark">Подробнее</a>
          </div>
        </div>

    {% endfor %}
            </div>
{% endblock %}
</body>
</html>