{% extends 'root.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<div class="course-detail d-flex flex-column align-items-center">
    <h1 class="text-center mt-4">{{ pk.name }}</h1>
    <div class="course-detail-block1 w-75 d-flex align-items-center">
        <div class="course-detail-bock1-content d-flex flex-row align-items-center">
            <div class="block1-description">
                <p class="block1-text w-50">{{ pk.description }}</p>
                <p class="block1-text w-50">{{ pk.date }}</p>
                <p class="block1-text w-50"><b>Стоимость: </b>{{ pk.price }}&#8381 </p>
                <p class="block1-text w-50"><b>Место проведения: </b>{{ pk.place }}</p>
                <p class="block1-text w-50"><b>Количество мест: </b>{{ pk.seats }}</p>
                {% if user.is_authenticated %}
                <a href="{% url 'events:book_event' pk.id %}"><button class="btn btn-dark">Забронировать место</button></a>
                {% else %}
                <a href="{% url 'register:login' %}"><button class="btn btn-dark">Забронировать место</button></a>
                {% endif %}
            </div>
            <img src="{{ pk.image.url }}" class="w-25">
        </div>
    </div>

    <div class="mt-5 w-75 d-flex flex-column">
    <h4>Комментарии</h4>
    {% for comment in comments %}
        <div class="border border-dark mb-2">
        <img src="{{ comment.user.user_profile.photo.url }}">
            <p class="fw-bold ms-5">{{ comment.user }}</p>
            <p class="ms-5">{{ comment.text }}</p>
        </div>
    {% endfor %}
    {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-dark">Отправить</button>
        </form>
    {% else %}
        <p>Авторизуйтесь, чтобы оставить комментарий</p>
    {% endif %}
    </div>
    </div>
{% endblock %}
</body>
</html>